<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
      <script src="https://cdn.socket.io/4.7.1/socket.io.min.js"></script>
      <script>

          document.addEventListener('DOMContentLoaded', () => {

                socket = io()
                socket.connect("http://127.0.0.1:5000")

                socket.on('connect', () => {
                    console.log('Connected to server');
                    socket.send('Hello from client!');
                });


                socket.on('response', (data) => {
                    console.log('Message from server: ', data);
                });
           });
      </script>
</head>
<body>
    <h1>WebSocket Test</h1>
</body>
</html>
